# Ignore the contents of the _site directory and other cache directories
_site/
.sass-cache/

# Ignore the directory for local files during development
local/

# Ignore files created by npm
node_modules
__pycache__/
*.py[cod]
.ipynb_checkpoints/

# Ignore the vendor file and bundle for alternative installation
vendor/
.bundle/

.DS_Store
